[submodule "src/models/mujoco_menagerie"]
	path = src/models/mujoco_menagerie
	url = https://github.com/google-deepmind/mujoco_menagerie.git
[submodule "trossen_arm_mujoco"]
	path = trossen_arm_mujoco
	url = https://github.com/TrossenRobotics/trossen_arm_mujoco.git
